# 1. The order matters
# 2. ::1 == 127.0.0.1 (IPv6/IPv4)
# 3. You may use other valid IPs instead of 127.0.0.1/::1

##
## Early pass-throughs
##

# Allow MDNS requests
* \.local$

# Allow AVM-Fritzbox routers (http://fritz.box)
* \.box$

# Allow all lookups, that do not contain a '.'
# Usecase: Enter a string into the URL-bar within your webbrowser.
#          a) The browser does a DNS lookup and finds nothing
#          b) The browser asks a search engine like Google
# This regex does not disturb (a).
* ^((?!\.).)*$

##
## Embedded buttons
##

# Comment one of those lines out if you use that particular service.
::1 (?:^|\.)twitter\.com$
::1 ^plus\.google\.com$
::1 ^plusone\.google\.com$
::1 (?:^|\.)facebook\.(com|net)$
::1 (?:^|\.)digg\.com$
::1 (?:^|\.)pinterest\.com$
::1 (?:^|\.)reddit\.com$
::1 (?:^|\.)tumblr\.com$
::1 (?:^|\.)xing\.com$
::1 (?:^|\.)linkedin\.com$
::1 (?:^|\.)stumbleupon\.com$

##
## Generic catchall rules
##

# Generic advertisment/tracker networks.
::1 ^ad\d*\.
::1 ^adv\.
::1 ^ads\d*\.
::1 ^adnet\.
::1 ^adsrv\.
::1 ^adserv\.
::1 ^adserve\.
::1 ^adserver\d*\.
::1 ^admanager\d*\.
::1 ^adcontent\.
::1 ^affiliate\.
::1 ^affiliates\.
::1 ^advertising\.
::1 ^adimage\.
::1 ^adimages\.
::1 ^adsadmin\.
::1 ^banner\S*\.
::1 ^counter\d*\.
::1 ^metric\.
::1 ^metrics\.
::1 ^openad\.
::1 ^openads\.
::1 ^piwik\.
::1 ^track\.
::1 ^tracker\.
::1 ^tracking\.

::1 \.ad\.
::1 \.ads\.
::1 \.adfarm\d*\.
::1 \.adtech\.
::1 \.adserver\.
::1 \.counter\d*\.
::1 \.metric\.

##
## Important to German journalists. It is your choice...
##

# http://de.wikipedia.org/wiki/Verwertungsgesellschaft_Wort
::1 (?:^|\.)vgwort\.de$

# http://de.wikipedia.org/wiki/Informationsgemeinschaft_zur_Feststellung_der_Verbreitung_von_Werbeträgern
::1 (?:^|\.)ivwbox\.de$
::1 (?:^|\.)ioam\.de$

# Amazon addservers and trackers
::1 \.amazon-adsystem\.com$
::1 \.bestamazontips\.com$
::1 rcm-images.amazon.com$
::1 fls-na.amazon.com$
::1 adagiobanner.s3.amazonaws.com$
::1 aan.amazon.com$
::1 uedata.amazon.com$

# Google addservers and trackers
::1 googleadservices\.com$
::1 googletagservices\.com$
::1 video-stats.video.google.com
::1 \.google-analytics\.com$
::1 \.googlesyndication\.com$
::1 adservices.google.com
::1 (?:^|\.)doubleclick\.(de|com|net)$

# 24.03.2015
::1 (?:^|\.)meetrics\.(com|net)$
::1 (?:^|\.)2o7\.net$
::1 (?:^|\.)newrelic\.com$
::1 (?:^|\.)veeseo\.com$
::1 (?:^|\.)taboola\.com$
::1 (?:^|\.)casalemedia\.com$
::1 (?:^|\.)cxense.com
::1 (?:^|\.)thruport\.com$
::1 (?:^|\.)webtrekk\.net$
::1 (?:^|\.)ligatus\.(de|com)$
::1 (?:^|\.)inspectlet\.com$
::1 (?:^|\.)zedo\.com$
::1 (?:^|\.)mathtag\.com$
::1 (?:^|\.)chartbeat\.com$
::1 (?:^|\.)demdex\.net$
::1 (?:^|\.)qualtrics\.com$
::1 (?:^|\.)clicktale\.(com|net)$
::1 (?:^|\.)krxd\.net$
::1 (?:^|\.)smartadserver\.
::1 (?:^|\.)outbrain\.com$
::1 (?:^|\.)nuggad\.net$
::1 (?:^|\.)nugg\.ad$
::1 (?:^|\.)kissmetrics\.com$
::1 (?:^|\.)intellitxt\.com$
::1 (?:^|\.)vibrantmedia\.com$
::1 (?:^|\.)parsely\.com$
::1 (?:^|\.)scorecardresearch\.com$
::1 (da|pi)\.feedsportal\.com$
::1 ^inspectletws\.

# 10.04.2015
::1 (?:^|\.)identitypr\.com$
::1 (?:^|\.)servedbyopenx\.com$
::1 (?:^|\.)webtrendslive\.com$
::1 (?:^|\.)visualrevenue\.com$
::1 (?:^|\.)pingdom\.(net|com)$
::1 (?:^|\.)hotjar\.com$

# 23.04.2015
::1 (?:^|\.)gigya\.com$
::1 (?:^|\.)simplereach\.com$
::1 (?:^|\.)gravity\.com$

# 01.07.2015
::1 (?:^|\.)admedo\.com$
::1 (?:^|\.)adnxs\.com$
::1 (?:^|\.)appnexus\.com$
::1 (?:^|\.)tubemogul\.com$
::1 (?:^|\.)adroll\.com$
::1 (?:^|\.)moatads\.com$
::1 (?:^|\.)criteo\.com$
::1 (?:^|\.)perfectmarket\.com$
::1 (?:^|\.)tagsrvcs\.com$

# 02.07.2015
::1 (?:^|\.)adition\.com$
::1 (?:^|\.)plista\.com$

# 07.07.2015
::1 (?:^|\.)optimizely\.com$
::1 (?:^|\.)quantserve\.com$
::1 (?:^|\.)adzerk\.net$

##
## Hate speech
##

::1 (?:^|\.)bild\.de$

##
## TLDs whitelist
##

# Explicitly allow those TLDs before the big DROP_ALL
* \.am$
* \.at$
* \.au$
* \.biz$
* \.ca$
* \.cc$
* \.ch$
* \.co$
* \.com$
* \.co\.uk$
* \.de$
* \.dk$
* \.edu$
* \.eu$
* \.es$
* \.fm$
* \.in$
* \.info$
* \.io$
* \.it$
* \.org$
* \.org.uk$
* \.me$
* \.mobi$
* \.name$
* \.net$
* \.no$
* \.nu$
* \.nl$
* \.nz$
* \.pl$
* \.se$
* \.training$
* \.tv$

##
## DROP_ALL
##

# Comment this line out to allow everything by default.
::1 .*
